<p class="Signup-header">Cafeteria App</p>
  <p class="Signup-header">Create Clerk</p>
<div class="Sign">
  <div class="SignupForm">
    <%=form_with(url: create_clerk_path , method: "post") do |form| %>
      <div class="SignupForm-input">
        <p class="SignupForm-label">First Name</p>
        <%=form.text_field :first_name , class: "SignupForm-text"%>
      </div>
    <div class="SignupForm-input">
        <p class="SignupForm-label">Last Name</p>
        <%=form.text_field :last_name, class: "SignupForm-text" %>
    </div>
      <div class="SignupForm-input">
        <p class="SignupForm-label">Email</p>
        <%=form.email_field :email , class: "SignupForm-text"%>
      </div>
      <div class="SignupForm-input">
      <p class="SignupForm-label">Password</p>
      <%=form.password_field :password, class: "SignupForm-text" %>
      </div>
      <div class="SignupForm-input">
      <%= form.submit "Create", class: "btn btn-success"%>
      </div>
    <%end%>
  </div>
</div>
