<p class="Signup-header">Cafeteria App</p>
<p class="Home-header">
  <span class="Home-welcome">
  Hello <%=@current_user.first_name%>,
  </span>
</p>
<h1 class="Order-summary">Orders</h1>
<%=form_with(url: view_records_path , method: "get") do |form|%>
  <div class="Admin-filter">
    <div>
      <label for="from">From:</label>
      <input type="date" id="from" name="from" value=<%=@from%>>
    </div>
    <div>
      <label for="to">To:</label>
      <input type="date" id="to" name="to" value=<%=@to%>>
    </div>
    <div>
      <label for="user">User</label>
      <%= form.select :user, ["all"]+(User.where("account_type != ?", "admin").map{|user| user.first_name}),
      selected: @user%>
      <%= form.submit "Appy Filters", class: "btn btn-sm btn-success ml-2"%>
    </div>
  </div>
<%end%>
<%if Order.get_orders(@user, @from, @to).count > 0%>
  <%orders = Order.get_orders(@user, @from, @to)%>
  <div class="Bill" style="display:flex;justify-content:space-evenly">

    <p style="width:150px; text-align:center">Order id</p>
    <p style="width:150px; text-align:center">
      User id
    </p>
    <p style="width:150px; text-align:center">
      User Name
    </p>

  </div>
  <hr>
  <%orders.each do |order_item|%>
    <%= link_to "#{orders_path}/#{order_item.id}", class: "Order-link" do%>
      <div class="Bill" style="display:flex;justify-content:space-evenly">
          <p style="width:150px; text-align:center"><%=order_item.id%></p>
          <p style="width:150px; text-align:center">
            <%=order_item.user_id%>
          </p>
          <p style="width:150px; text-align:center">
            <%=User.find(order_item.user_id).first_name%>
          </p>
      </div>
    <%end%>
    <hr>
  <%end%>
<%else%>
  No orders yet
<%end%>
