<p class="Signup-header">Cafeteria App</p>
<h1 class="Order-summary">Order Details</h1>
<div class="Order-details">
  <div class="Bill-header">
    <div>Order id: <%=order_item.id%></div>
    <div>Ordered At:
      <%=order_item.ordered_time.in_time_zone("Chennai").strftime("%d/%m/%Y  %k:%M")%>
    </div>
    <p>
      <%if order_item.delivered_time%>
        Received At:
        <%=order_item.delivered_time.in_time_zone("Chennai").strftime("%d/%m/%Y  %k:%M")%>
      <%else%>
        Pending
      <%end%>
    </p>
  </div>
  <hr>
  <div class="Bill-element">
    <p class="Bill-element-text">S.no</p>
    <p class="Bill-element-text">Item name</p>
    <p class="Bill-element-text">Quantity</p>
    <p class="Bill-element-text">Price</p>
  </div>
    <%items=Orderitem.where("order_id = ?",order_item.id)%>
    <%items.each_with_index do |item,i|%>
      <div class="Bill-element">
        <p class="Bill-element-text">
          <%=(i+1)%>
        </p>
        <p class="Bill-element-text">
          <%=Item.find(item.item_id).item_name%>
        </p>
        <p class="Bill-element-text">
          <%=item.quantity%>
        </p>
        <p class="Bill-element-text">
          <%=(item.quantity*Item.find(item.item_id).price)%>
        </p>
      </div>
      <%end%>
  <hr>
  <div class="Bill-element">
    <span class="Bill-element-text" >Total</span>
    <span class="Bill-element-text" ><%="Rs. #{order_item.price}"%></span>
  </div>
</div>
