<div class="Item-page">
  <div class="Menu">
    <%Category.all.each do |category|%>
      <div class="ItemCategory">
        <h1 class="ItemCategory-name"><%=category.category_name%></h1>
          <%category.items.each do |category_item|%>
            <div class="ItemCategory-item">
              <p class="ItemCategory-item-element">
                <span style="margin-right:30px"><%=category_item.item_name%></span>
                Rs. <%=category_item.price%>
              </p>
              <div class="ItemCategory-item">
                <%if Cart.where("user_id = ? and item_id = ?",@current_user.id, category_item.id).count > 0 &&%>
                  <%=form_with(url: "#{carts_path}/#{category_item.id}", method: "put" , class: "btn-form") do |form|%>
                    <%= form.hidden_field :item_quantity, value:(Cart.where("user_id = ? and item_id = ?",@current_user.id, category_item.id).first.item_quantity + 1)  %>
                    <%= form.submit :"+", class: "ItemCategory-item-elementbtn-add" %>
                  <%end%>
                  <p class="ItemCategory-item-elementtxt">
                    <%=Cart.where("user_id = ? and item_id = ?",@current_user.id, category_item.id).first.item_quantity%>
                  </p>
                  <%=form_with(url: "#{carts_path}/#{category_item.id}", method: "put" ) do |form|%>
                    <%= form.hidden_field :item_quantity, value:(Cart.where("user_id = ? and item_id = ?",@current_user.id, category_item.id).first.item_quantity - 1)  %>
                    <%= form.submit :"-" , class: "ItemCategory-item-elementbtn-remove"%>
                  <%end%>
                <%else%>
                  <%=form_with(url: "#{carts_path}", method: "post" ) do |form|%>
                    <%= form.hidden_field :item_id, value:(category_item.id)  %>
                    <%= form.submit :Add , class: "ItemCategory-item-elementadd"%>
                  <%end%>
                <%end%>
              </div>
            </div>
          <%end%>
      </div>
      <hr>
    <%end%>
  </div>
  <div class="Details">
    <div class="Cart">
      <h1 class="Cart-heading">My Cart</h1>
      <p class="Cart-element">
          <span class="Cart-element-text" >Item</span>
          <span class="Cart-element-text">Quantity</span>
          <span class="Cart-element-text">Price</span>
      </p>
      <hr>
      <%total=0%>
      <%Cart.where("user_id = ?",@current_user.id).each do |cart_item, index|%>
        <p class="Cart-element">
          <%item=Item.find(cart_item.item_id)%>
          <span class="Cart-element-text" ><%=item.item_name%></span>
          <span class="Cart-element-text"><%=cart_item.item_quantity%></span>
          <span class="Cart-element-text"><%=item.price%></span>
          <%total=total+item.price%>
        </p>
      <%end%>
      <hr>
      <%if Cart.where("user_id = ?",@current_user.id).count > 0%>
        <p class="Cart-element">
          <span class="Cart-element-text" >Total</span>
          <span class="Cart-element-text" ><%="Rs. #{total}"%></span>
        </p>
      <%end%>
    </div>
    <div class="Order">

    </div>
  </div>
</div>
