<!DOCTYPE html>
<html>
  <head>
    <title>My Cafeteria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="color: #453c52; font-family: OpenSans-Semibold;">
    <%if flash[:error]%>
      <p class="Signin-error"><%=flash[:error]%></p>
    <%end%>

    <%= yield %>
  </body>
</html>
